name: Great learning Actions

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    name: First build
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
            python-version: 'pypy3.9'
      - run: pip install blinker ==1.7.0
             pip install certifi ==2023.11.17
             pip install charset-normalizer ==3.3.2
             pip install click ==8.1.7
             pip install Flask ==3.0.0
             pip install idna ==3.6
             pip install itsdangerous ==2.1.2
             pip install Jinja2 ==3.1.2
             pip install joblib ==1.3.2
             pip install numpy ==1.26.2
             pip install pandas
             pip install requests ==2.31.0
             pip install scikit-learn ==1.3.2
             pip install scipy ==1.11.4
             pip install threadpoolctl ==3.2.0
             pip install urllib3 ==2.1.0
             pip install Wekzeug ==3.0.1
             

             
