name: Great learning Actions

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    name: First build
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
            python-version: 'pypy3.9'
      - run: pip install Flask
             pip install requests
             pip install joblib
             pip install --no-build-isolation scikit-learn
             pip install Jinja2
             pip install requests
             pip install pandas
             pip install numpy
             
